# Dependency directories
/server/node_modules/

# Build output
/server/build/
/server/*.js
/server/*.js.map
/server/*.d.ts

# IDE files
.vscode/
.idea/

# Compiled TypeScript
*.tsbuildinfo

# Environment variables
server/*.env

# Logs
server/*.log
